body,
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}

input {
  padding: 5px;
  margin: 5px;
}

input.large {
  width: 80%;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}