{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="text-center">
    <h1 style="margin: 0">Password Manager</h1>
    <p>Status: <span style="font-weight: bold">Locked</span> 🔒</p>

    <form method="post" style="margin-top: 1rem">
      <label for="password">Encryption Master Key:</label>
      <br />
      <input type="password" id="password" name="password" required class="large" />

      {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% for error in errors %}
      <p id="error" style="color: red">{{ error }}</p>
      {% endfor %}
      {% endwith %}

      <br />
      <input type="submit" value="Validate" style="margin-top: 1rem" />


    </form>
  </div>
</div>
{% endblock %}