{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 style="margin: 0;">Password Manager</h1>
        <p>Stage 1: <span style="font-weight: bold;">Encryption Setup</span></p>

        <form method="post" style="margin-top: 1rem;">
            <label for="password">Encryption Master Key:</label>
            <br />
            <input type="password" id="password" name="password" required class="large">

            <br />
            <input type="submit" value="Validate" style="margin-top: 1rem;">
        </form>
    </div>
    <div class="text-center" style="margin-left: 1rem;">
        <h2>Tips for a strong key</h2>

        <ul style="text-align: left;">
            <li>Use a mix of letters, numbers, and special characters</li>
            <li>Make it at least 12 characters long</li>
            <li>Don't use common words or phrases</li>
            <li>Don't use personal information</li>
        </ul>
    </div>
</div>

{% endblock %}