{% extends 'base.html' %} {% block content %}

<style>
  h2 {
    padding: 2px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  input {
    width: 20%;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
</style>

<div style="padding: 10px">
  <h1>Hi, {{name}}!</h1>

  <div>
    <h2>Username</h2>
    <input
      type="text"
      id="username"
      placeholder="{{ credential[2] }}"
      value="{{ credential[2] }}"
    />

    <h2>Password</h2>
    <input
      type="password"
      id="password"
      placeholder="{{ password }}"
      value="{{ password }}"
    />
    <button
      onclick="togglePasswordVisibility()"
      style="width: 40px; height: 40px"
    >
      <i data-lucide="eye" id="toggleIcon"></i>
    </button>

    <h2>Domain</h2>
    <input
      type="text"
      id="domain"
      placeholder="{{ credential[4] }}"
      value="{{ credential[4] }}"
    />

    {% if credential[5] %}
    <h2>2FA Code</h2>
    <p
      id="countdown"
      style="font-size: small; color: darkslategray; margin: 5px"
    ></p>
    <input type="text" id="2fa" value="" readonly />
    {% endif %}
  </div>
</div>

<script>
  // Create the lucide icons
  lucide.createIcons();

  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    var toggleIcon = document.getElementById("toggleIcon");

    // Check if the password is currently visible
    if (passwordInput.type === "password") {
      // Show password
      toggleIcon.setAttribute("data-lucide", "eye-off");
      passwordInput.type = "text";
    } else {
      // Hide password
      toggleIcon.setAttribute("data-lucide", "eye");
      passwordInput.type = "password";
    }

    // We have to call createIcons again else the changes won't be applied
    lucide.createIcons();
  }

  function regenerateTOTP() {
    fetch("/api/credential/{{ credential[0] }}/totp")
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("2fa").value = data.value;
        startTOTPCountdown();
      });
  }

  function startTOTPCountdown() {
    var countdownElement = document.getElementById("countdown");
    var timeLeft = 30;

    var countdownInterval = setInterval(function () {
      if (timeLeft <= 0) {
        clearInterval(countdownInterval);
        countdownElement.innerHTML = "Updating...";
        regenerateTOTP();
      } else {
        countdownElement.innerHTML = "Next update in " + timeLeft + " seconds";
      }
      timeLeft -= 1;
    }, 1000);
  }

  // Start the countdown if the TOTP code is present
  {% if credential[5] %}
    regenerateTOTP();
  {% endif %}
</script>
{% endblock %}
