{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 style="margin: 0;">Password Manager</h1>
        <p>Stage 3: <span style="font-weight: bold;">Personalization Setup</span></p>

        <form method="post" style="margin-top: 1rem;">
            <label for="name">What's your name?</label>
            <br />
            <input type="text" id="name" name="name" required class="large" autofocus>

            <br />
            <input type="submit" value="Confirm" style="margin-top: 1rem;">

            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% for error in errors %}
            <p id="error" style="color: red">{{ error }}</p>
            {% endfor %}
            {% endwith %}

        </form>
    </div>
</div>

{% endblock %}